{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <input type="submit" value="编辑" onclick="location.href='/editBlog/{{post.id}}'" class="btn btn-primary" style="float:right">
        <section class="post">
            <header>
                <h2>{{ post.title }}</h2>
                    <p>
                        <label class="label label-default">{{ post.date_time}}</label> <label class="label label-info">{{ post.category }}</label>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown }}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->

{% endblock %}