{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>
                    <p>
                        <label class="label label-default">{{ post.date_time }}</label> <label class="label label-info">{{ post.category }}</label>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown }}
                    </p>
                </div>
                <a class="btn btn-primary" href="{% url "detail" id=post.id %}">Read More >>> </a>
            <hr style="border-top:2px dashed #8a8ad8">
        </section>
    {% endfor %}
</div><!-- /.blog-post -->

{% endblock %}